<div (click)="onClick()">
  <span>Card Type: {{cardType}}</span>
  <label for="name-check">Enable name edit</label>
  <input id="name-check" type="checkbox" [(ngModel)]="disableEdit" >
  <row>
    <label-input
      [label]="'Name'"
      [value]="data.name"
      [readOnly]="disableEdit"></label-input>
  </row>
  <row>
    <label-input
      [label]="'Surnames'"
      [value]="data.firstSurname + ' ' + data.secondSurname"
      [readOnly]="true"></label-input>
  </row>
  <row>
    <label-input
      [label]="'Birthdate'"
      [value]="data.birthdate | birthdate"
      [readOnly]="true"></label-input>
  </row>
</div>
